body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;

}
h1{
    margin-top:50px,auto,0,auto;
    font-family: 'Sacramento', cursive;
    color:#66BFBF;
    font-weight: normal;
    line-height: 3em;
   
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
     color: #11999E;
 
}
a{
    text-decoration: none;
    color:#11999E;
}
hr{
  
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}



.top-container{
    background-color: #eff9f6;
    position: relative;
    padding-top: 100px;
   
    
}
.bottom-container{
    background-color:  #66BFBF;
}

.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
}


.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:300px;
}

.skill-row{
    width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;
   
}
.skills-img{
    width: 25%;
    float: left;
    margin: 30px;
}
.pc-img{
    width: 25%;
    float: right;
    margin: 30px;
}
.contact-me{
    padding: 30px;
}
.bottom-container{
    padding:30px;
}
.footer-link{
    margin:20px;
}